
:root {
    --water: #00FFFF;
    --border: #CACACA;
    --sun: #FFB514;
    --light-grey: #efebeb;
    --grey: #909090;
}

body {
    margin: 0;
}

/* elements */

.header_menu {
    background-color: var(--water);
    width: 100%;
    padding: 20px 0;
    margin-bottom: 10px;
}

.container {
    margin: 0 20px; 
}

.second_container {
    margin: 30px 20px 0px 20px; 
}

.title_component {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.main_title {
    font-size: 21px;
    font-family: "Joan", serif;
    font-weight: 400;
    font-style: normal;
    margin-right: 10px;
    margin-top: 5px;
}

.tours_rubrics__button {
    display: flex;
    justify-content: center;
    /* margin-top: 15px; */
}

.button {
    background-color: var(--sun);
    border: none;
    border-radius: 20px;
    width: 140px;
    height: 35px;
    cursor: pointer;
}

.button_text {
    color: white;
    font-weight: bolder;
}

.wrapper {
    text-decoration: none;
    color: black;
}

.selection_tour__container {
    border: 0.5px solid var(--border);
    cursor: pointer;
    transition: 0.3s ease-in-out;
    padding-bottom: 10px;
    padding: 20px;
    margin-bottom: 30px;
}

.selection_tour__container:hover {
    background-color: var(--light-grey);
}

.selection_tour__wrapper {
    text-align: center;
    overflow: hidden;
}

.selection_tour__block {
    display: flex;
    justify-content: space-between;

}

.selection_tour__img {
    width: 100%;
    height: 100%;
    max-height: 200px;
    transition: 0.6s ease-in-out;
}

.selection_tour__img:hover {
    transform: scale(1.1);
}


.selection_tour__text {
    margin: 0px 20px 0px 5px;
}

.h2 {
    font-size: 20px;
    font-weight: bolder;
    padding-bottom: 5px;
}

.grey_text {
    color: var(--grey);
}


.price {
    font-size: 25px;
    margin-top: 50px;
}


/* components */

.frame-header {
    display: flex;
    justify-content: center;
}

.frame-header__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
}

.frame-header__background {
    background-image: url('../img/солнце.svg.svg');
    background-position: center;
    background-size: cover;
    height: 80px;
    width: 105px;
}

.frame-header__title {
    font-size: 18px;
    color: #FFDC2E;
}

.header_menu__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_menu__greeting {
    font-size: 25px;
    font-family: 'El Messiri', sans-serif;

    /* margin-left: 25%; */
}

.menu-button {
    cursor: pointer;
}

.tours_rubrics__row {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
    padding: 20px 40px 20px 20px;
}

.tours_rubrics__block {
    text-align: center;
    padding: 5px 10px 0 10px;
    width: 100%;
    height: 100%;
    border: 0.5px solid var(--border);
    cursor: pointer;
    transition: 0.3s ease-in-out;
    /* border-radius: 5%; */
}

.tours_rubrics__block:hover {
    background-color: var(--light-grey);
}

.tours_rubrics__img {
    width: 100%;
    
    /* height: 80px; */
    /* margin: 8px 10px 0 10px; */
}

.tours_rubrics__title {
    margin: 5px;
}


.selection_tours__title {
    margin: 30px 0;
}

.block_country {
    display: flex;
    border-bottom: 0.5px solid var(--border);
    margin: 10px 0px;
    padding: 10px;
    cursor: pointer;
}

.block_country__title {
    margin-left: 5px;
    font-size: 20px;
}

.header_menu-custom {
    background-color: var(--water);
    width: 100%;
    padding: 20px 0;
}


.detail_rubric__wrapper {
    text-align: center;
    
}

.detail_rubric__img {
    width: 100%;
    height: 100%;
    max-height: 450px;
}

.detail_rubric__container {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .detail_rubric__block-one {
    display: flex;
    justify-content: space-between;
} */
.detail_rubric__title {
    font-size: 25px;
    font-weight: 800;
}
.detail_rubric__nights, .detail_rubric__stars {
    font-size: 18px;
}

/* .detail_rubric__block-two {
    display: flex;
    justify-content: space-between;
} */
.detail_rubric__country {
    color: var(--grey);
}

.random_tours_selection {
    margin-top: 20px;
    padding: 20px;
}

.frame-header__numbers {
    padding: 10px;
    margin-top: 20px;
}

.contact {
    margin-left: 20px;
    color: #2dc26b;
}